html {
    background: black;
    display: grid;
    place-items: start;
    height: 100vh;
  }
  @keyframes move {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(500px);
    }
  }

.parent {
   
    position: relative;
    width: 50px;
    height: 17px;
  }
  
  .parent div {
    position: relative;
    width: 17px;
    height: 17px;
    animation: move alternate 1.2s infinite;
    animation-timing-function: cubic-bezier(0.43, 0.03, 0.53, 0.93);
  
    border-bottom: 50px solid white;
    border-right: 25px solid transparent;
    border-left: 25px solid transparent;
  }
  
  .parent div:nth-child(2) {
    animation-delay: 12ms;
    opacity: 0.57;
    width: 17px;
    height: 17px;
    top: 0px;
  }
  .parent div:nth-child(3) {
    animation-delay: 24ms;
    opacity: 0.54;
    width: 16.626px;
    height: 16.626px;
    top: 0.19px;
  }
  .parent div:nth-child(4) {
    animation-delay: 36ms;
    opacity: 0.51;
    width: 16.252px;
    height: 16.252px;
    top: 0.37px;
  }
  .parent div:nth-child(5) {
    animation-delay: 48ms;
    opacity: 0.48;
    width: 15.877999999999998px;
    height: 15.877999999999998px;
    top: 0.56px;
  }
  .parent div:nth-child(6) {
    animation-delay: 60ms;
    opacity: 0.46;
    width: 15.504000000000001px;
    height: 15.504000000000001px;
    top: 0.75px;
  }
  .parent div:nth-child(7) {
    animation-delay: 72ms;
    opacity: 0.43;
    width: 15.13px;
    height: 15.13px;
    top: 0.93px;
  }
  .parent div:nth-child(8) {
    animation-delay: 84ms;
    opacity: 0.4;
    width: 14.756px;
    height: 14.756px;
    top: 1.12px;
  }
  .parent div:nth-child(9) {
    animation-delay: 96ms;
    opacity: 0.37;
    width: 14.382px;
    height: 14.382px;
    top: 1.31px;
  }
  .parent div:nth-child(10) {
    animation-delay: 108ms;
    opacity: 0.34;
    width: 14.008000000000001px;
    height: 14.008000000000001px;
    top: 1.5px;
  }
  .parent div:nth-child(11) {
    animation-delay: 120ms;
    opacity: 0.31;
    width: 13.634px;
    height: 13.634px;
    top: 1.68px;
  }
  .parent div:nth-child(12) {
    animation-delay: 132ms;
    opacity: 0.28;
    width: 13.26px;
    height: 13.26px;
    top: 1.87px;
  }
  .parent div:nth-child(13) {
    animation-delay: 144ms;
    opacity: 0.26;
    width: 12.886px;
    height: 12.886px;
    top: 2.06px;
  }
  .parent div:nth-child(14) {
    animation-delay: 156ms;
    opacity: 0.23;
    width: 12.512px;
    height: 12.512px;
    top: 2.24px;
  }
  .parent div:nth-child(15) {
    animation-delay: 168ms;
    opacity: 0.2;
    width: 12.138px;
    height: 12.138px;
    top: 2.43px;
  }
  .parent div:nth-child(16) {
    animation-delay: 180ms;
    opacity: 0.17;
    width: 11.764px;
    height: 11.764px;
    top: 2.62px;
  }
  .parent div:nth-child(17) {
    animation-delay: 192ms;
    opacity: 0.14;
    width: 11.39px;
    height: 11.39px;
    top: 2.8px;
  }
  .parent div:nth-child(18) {
    animation-delay: 204ms;
    opacity: 0.11;
    width: 11.016px;
    height: 11.016px;
    top: 2.99px;
  }
  .parent div:nth-child(19) {
    animation-delay: 216ms;
    opacity: 0.09;
    width: 10.642px;
    height: 10.642px;
    top: 3.18px;
  }
  .parent div:nth-child(20) {
    animation-delay: 228ms;
    opacity: 0.06;
    width: 10.267999999999999px;
    height: 10.267999999999999px;
    top: 3.37px;
  }
  

  

  